<table class="table">
   <tr>
      <th>Name</th>
      <th>Nickname</th>
   </tr>
<% @users.each do |user| %>
   <tr>
      <td><%= user.name %></td>
      <td><%= user.nickname %></td>
   </tr>
<% end %>
</table>